.mcqOptionWrapper {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 15px;
  gap: 15px;
  border: 1px solid var(--lightest-variation);
  border-radius: var(--border-radius-3);
  box-shadow: var(--shadow-2);
  background-color: var(--lightest-variation);
}

.disabled {
  pointer-events: none;
  opacity: 0.6;
  border: 1px solid hsl(0, 0%, 48%);
}

.answer {
  border: 1px solid green;
}

.wrong {
  border: 1px solid red;
}
