.container {
  display: flex;
  overflow: auto;
  gap: 15px;
}

.rowBox {
  display: flex;
  min-width: min-content;
  border: 1px solid black;

  border-radius: var(--border-radius-2);
}

.bigCard {
  height: 200px;
  width: 350px;
  display: grid;
  place-content: center;
}
