.dashboardWrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
  height: 100%;
  overflow: hidden;
}

.dashboardListWrapper {
  /* height: 100%; */
  flex: 1;
  display: flex;
  gap: var(--spacing-3);
  flex-direction: column;
  overflow: auto;
  min-height: 0px;
}

.dashboardBox {
  /* display: flex; */
  display: flex;
}

.dashboardItemWrapper {
  border: 1px solid white;
  border-radius: var(--border-radius);
  padding: 15px 25px;
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
  border: 1px solid var(--lightest-variation);
  border-radius: var(--border-radius-3);
  box-shadow: var(--shadow-2);
  background-color: var(--lightest-variation);
}
