.button {
  color: var(--white);
  background: var(--button-bg-color);
  border: 1px solid var(--light-variation);
  border-radius: var(--border-radius-2);
  appearance: none;
  vertical-align: middle;
  font-size: 1rem;
  text-align: center;
  margin: 0;
  outline: none;
  padding: 14px 10px;
  text-decoration: none;
  width: 100%;
  margin-top: var(--spacing-2);
  cursor: pointer;

  &:active {
    box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
    background: hsl(230, 58%, 22%);
    border-color: hsl(230, 58%, 72%);
  }

  &:focus-visible {
    outline: 2px solid var(--focus-ring-color);
    outline-offset: -1px;
  }

  &:hover {
    transform: translateY(-1px);
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  }
}

.secondary {
  background-color: var(--light-variation);
  color: var(--darkest-variation);
  border: 1px solid var(----lightest-variation-variation);
}
.warning {
  background-color: var(--bright-warning-variation);
}

@media (min-width: 1024px) {
  .button {
    max-width: 460px;
    margin: 0 auto;
    padding: 20px;
  }
}
