.button {
  color: var(--white);
  background: var(--button-bg-color);
  border: 1px solid var(--light-variation);
  border-radius: var(--border-radius-2);
  appearance: none;
  vertical-align: middle;
  font-size: 1rem;
  text-align: center;
  margin: 0;
  outline: none;
  padding: 14px 10px;
  text-decoration: none;
  width: 100%;
  margin-top: var(--spacing-2);

  &:active {
    box-shadow: inset 0 1px 2px rgb(0 0 0 / 0.1);
    background: hsl(230, 58%, 22%);
    border-color: hsl(230, 58%, 72%);
  }

  &:focus-visible {
    outline: 2px solid var(--focus-ring-color);
    outline-offset: -1px;
  }

  & input {
    border: 1px solid var(--light-variation);
  }
}

.formWrapper {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-3);
  height: 100%;
}

.formControl {
  display: flex;
  flex-direction: column;
  & label {
    align-self: start;
    font-weight: var(--font-weight-2);
  }
  gap: var(--spacing-2);
}

.formInput {
  border-radius: var(--input-border-radius);
  border-color: var(--input-border-color);
  border-width: 1.5px;
  padding: 6px 10px;
  font-size: 0.9rem;
  width: 100%;
}

.createFormSelect {
  border: 1px solid var(--light-variation);
  padding: 6px 10px;
  border-radius: var(--border-radius-2);
}

/* .formControl input[name="deckName"],
.formControl input[name="description"] {
  border: 1px solid var(----dark-variation-variation);
} */

.dynamicSection {
  border: 1px solid var(--medium-variation);
  border-radius: 8px;
  padding: var(--spacing-2) var(--spacing-3) var(--spacing-3);
  display: flex;
  flex-direction: column;
  & label {
    align-self: start;
    margin: var(--spacing-4) 0 var(--spacing-2);
  }
  & input,
  select {
    border: 1px solid var(--light-variation);
  }
  /* gap: var(--spacing-3); */
}

.dynamicFormButton {
  border: none;
  background: none;
  align-self: end;
}

.secondary {
  background-color: var(--light-variation);
  color: var(--darkest-variation);
  border: 1px solid var(----lightest-variation-variation);
  margin-bottom: -16px;
}
.dynamicFormLabel {
  align-self: start;
}
